/* Universal Styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif;
  color: seashell;
  background-color: black;
}

a {
  color: seashell;
  
}

nav {
  font-size: 22px;
  margin-right: 30px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  font-weight: bold;
  opacity: 0.9;
  background-color: black;
}


.logo img {
  height: 50px;
  margin-left: 10px;
  display: block;
}

.headline {
  margin-top: 90px;
}

.mission {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
}

.content {
  background-color: black;
  height: 104px;
  width: 1240px;
  text-align: center;
}

.featured {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.featured-month {
  width:  1000px;
  text-align: center;
  margin: auto;
}

.featured-title {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9;

}

.featured-statement {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9;

}

.featured-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
}


.photo {
  margin-bottom: 15px;
  margin-left: 25px;
}

.photo img {
  display: block;
  height: 200px;
  width: 300px;

}

.caption {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.shop-locations {
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-repeat: no-repeat;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.location-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
 
}

.location-row {
  display: flex;
  margin-top: 15px;
}

.location-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  margin-left: 40px;
}

.shop-name {
  font-size: 24px;
  font-weight: bold;

}

.shop-address {
 font-size: 18px;
 line-height: 48px;
}


