/* Universal Styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif;
  color: seashell;
  background-color: black;
}

a {
  color: seashell;
  
}

nav {
  font-size: 22px;
  margin-left: 20px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  font-weight: bold;
  opacity: 0.9;
}


.logo img {
  height: 50px;
  margin-left: 10px;
  display: block;
}



